<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUEJS | Challanges | Delete or Update an Array Or List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <!-- V-For -->
    <main id="app" class="container">
        <h1>Users List</h1>
        <!--Array Or List-->
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr v-for="(user,index) in users">
                    <td>{{index + 1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.mobile}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" @click="deleteItem(index)">Delete</button>
                        <button class="btn btn-sm btn-warning" 
                        @click="userForUpdate = user">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <form v-if="userForUpdate" @submit.prevent="updateItem">
            <h5>Update Data</h5>
            <div class="row">
                <div class="col-3">
                    <input type="text" name="name" placeholder="Name"  
                    :value="userForUpdate.name" 
                    class="form-control">
                </div>
                <div class="col-3">
                    <input type="text" name="mobile" 
                    placeholder="Mobile" 
                    :value="userForUpdate.mobile" 
                    class="form-control">
                </div>
                <div class="col-3">
                    <button class="btn btn-block btn-primary">Update</button>
                </div>
            </div>
        </form>
        <hr>
    </main>


    <script src="https://unpkg.com/vue@3" ></script>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                   users : [
                       {
                           id : 1,
                           name : 'Farid HaghGooyan',
                           mobile : '09124824651'
                       },
                       {
                           id : 2,
                           name : 'Tina Arjmandi',
                           mobile : '09124824652'
                       },
                       {
                           id : 3,
                           name : 'Maryam Kazemi',
                           mobile : '09124824653'
                       },
                       {
                           id : 4,
                           name : 'Reza Gholizadeh',
                           mobile : '09124003020'
                       },
                       {
                           id : 5,
                           name : 'Kimia Zohreh Talab',
                           mobile : '09124003021'
                       },
                       {
                           id : 6,
                           name : 'Samira Nasiri',
                           mobile : '09124003022'
                       },
                   ],
                   userForUpdate : null
                  
                }
            },
            methods : {
                deleteItem(userIndex){
                  
                    this.users = this.users.filter((user,index) => index != userIndex)
                },
                updateItem(){
                    this.userForUpdate.name = event.target.elements.name.value;
                    this.userForUpdate.mobile = event.target.elements.mobile.value;
                    this.users.forEach((user,index)=>{
                        if(user.id == this.userForUpdate.id){
                            this.users[index] = this.userForUpdate;
                    }
                    })

                    this.userForUpdate = null;
                }
            }
        }).mount('#app')
       

    </script> 
</body>
</html>